body {
  background-color: aliceblue;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a32929;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
img {
  width: 20vw;
  height: 40vh;

  flex-wrap: wrap;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
span {
  position: absolute;
  height: auto;
  width: auto;
}
@media screen and (max-width: 600px) {
  img {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }
}
